Snowflake.Test/bin/
Snowflake.Test/obj/
Snowflake.Test/Snowflake.API/obj/
Snowflake.Test/Snowflake.API/bin/
Snowflake.Test/Snowflake.Model/obj/
Snowflake.Test/Snowflake.Test/bin/
Snowflake.Test/Snowflake.Test/obj/
